{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> آموزش آشپزی </h1>
            <p class="lead fw-normal text-white-50 mb-0"> رسپی ها و رمز و راز های پخت یک غذای لذیذ و سلامت را اینجا یاد بگیرید </p>
        </div>
    </div>
    </header><br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
            <p align="justify">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، .
            </p>
            </div>
        </center>


    </div>


</div><br><br>

{% endblock %}

  