{% extends 'base.html' %}
{% block content %}
{%  load humanize %}
<!-- Header-->
<br><br><br>
<div class="container">
    <div class="card mb-7" style="">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h1 class="card-title">{{ product.name }}</h1><br>
        <h3 class="card-text">{{ product.description }}</h3><br><br>
        {% if product.is_sale  %}
            <h3 class="card-title"><strike> {{ product.price  | intcomma}}  تومان   </strike>  {{ product.sale_price | intcomma}} تومان</h3>
        {% else %}
            <h3 class="card-title">{{ product.price  | intcomma}} تومان</h3> 
        {% endif %}
        <br><br>
        <button class="btn btn-secondary" type='button' value='{{ product.id }}' id='add-cart'>اضافه کردن به سبد خرید</button>
        <a href="{% url 'home'%}" class='btn btn-secondary'>بازگشت به صفحه اصلی</a>
        
      </div>
    </div>
    
  </div>
  
</div>

</div><br><br><br><br><br><br><br>
<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url: '{% url 'cart_add' %}',
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}', 
        action:'post'
      },

      success: function(json){
        // console.log(json)
        document.getElementById('cart_quantity').textContent = json.qty
      },

      error: function(xhr, errmsg, err){

      }
    })
  })
</script>

{% endblock %}

  