{% extends "base.html"%}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
<div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">سبد خرید</h1>
        <p class="lead fw-normal text-white-50 mb-0">محصولاتی که انتخاب کردید را اینجا ببینید </p>
    </div>
</div>
</header>
<br>
{% if cart_products %}
    {% for product in cart_products %}


    <div class="container">
        <div class="card mb-7" style="">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5><br>
            <p class="card-text">{{ product.description }}</p><br><br>
            {% if product.is_sale  %}
                <p class="card-title"><strike> {{ product.price  | intcomma}}  تومان   </strike>  {{ product.sale_price | intcomma}} تومان</p>
            {% else %}
                <p class="card-title">{{ product.price  | intcomma}} تومان</p> 
            {% endif %}
            <p class="card-title">تعداد:

                {% for key,value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}


                {% endfor %}
                
            </p>
            <br><br>
            <a href="{% url 'home'%}" class='btn btn-secondary'>بازگشت به صفحه اصلی</a>
            
        </div>
        </div>
        
    </div>
    
    </div>
    {% endfor %}
    {% else %}
    <br>
    <center><h3 class="container">سبد شما خالیست &#128532; </h3></center>
    {% endif %}
<!-- Section-->
<br><br><br><br><br><br><br><br><br>
<!-- Footer-->
{% endblock %}
