{% extends "base.html"%}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
<div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">تایید نهایی</h1>
        <p class="lead fw-normal text-white-50 mb-0"> کترینگ مجد</p>
    </div>
</div>
</header>
<br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                      فاکتور نهایی
                    </div>
                    <div class="card-body">
                        
                      {% for product in cart_products %}
                        {{ product.name}} <br>
                        <small>
                        قیمت:
                        {% if product.is_sale %}
                            {{ product.sale_price | intcomma }}<br>

                        {% else %}
                            {{ product.price | intcomma }}<br>
                        {% endif %}
                        
                        تعداد:
                        {% for key,value in quantities.items %}
                            {% if key == product.id|slugify %}
                                {{ value }}
                            {% endif %}

                        {% endfor %}
                        </small><br>
                        <hr>
                      {% endfor%}
                      <strong>قابل پرداخت: {{ total | intcomma }}</strong>
                      
                      
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                      مشخصات ارسال
                    </div>
                    <div class="card-body">
                      نام و نام خانوادگی: {{ shipping_info.shipping_full_name }} <br>
                      آدرس: {{ shipping_info.shipping_address1 }} <br>
                      کدپستی: {{ shipping_info.shipping_zipcode }} <br>
                      شماره تماس: {{ shipping_info.shipping_phone }} <br>
                    </div>
                </div>
            </div>
            <br>
            
            <br>
            <a href="#" class='btn btn-sm btn-outline-primary'>تایید و پرداخت</a>
            
        </center>
    </div>
</div>
<!-- Section-->
<br><br><br><br><br><br><br><br><br>

<!-- script -->



<!-- Footer-->
{% endblock %}
